<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Person webapp</title>
    </head>
    <body>
        <h1>Liste des personnes</h1>
        <table>
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Compétences</th>
                    <tbody>
                        <tr th:if="${persons.empty}">
                            <td colspan="3">
                                Auncune personne en base de données
                            </td>
                        </tr>
                        <tr th:each="person: ${persons}">
                            <td>
                                <span th:text="${person.firstName}"
                                    >Prénom</span
                                >
                            </td>
                            <td>
                                <span th:text="${person.lastName}">Nom</span>
                            </td>
                            <td>
                                <span
                                    th:each="skill, i:${person.skills}"
                                    th:text="${person.skills[__${i.index}__].skillName} + (${i.size-1 > i.index}? ', ':'') "
                                    >Compétences</span
                                >
                            </td>
                            <td>
                                <a
                                    th:href="@{/deletePerson/{id}(id=${person.id})}"
                                    >Supprimer</a
                                >
                            </td>
                        </tr>
                    </tbody>
                </tr>
            </thead>
        </table>

        <form method="post" th:action="@{/savePerson}" th:object="${person}">
            <input
                type="text"
                th:field="*{firstName}"
                placeholder="Entrez un prénom"
            />
            <input
                type="text"
                th:field="*{lastName}"
                placeholder="Entrez un nom"
            />
            <input
                type="text"
                th:field="*{birthDate}"
                placeholder="Entrez une date de naissance AAAA-MM-JJ"
            />
            <input
                type="text"
                th:field="*{skills}"
                placeholder="Entrez des compétences, séparés par des virgules"
            />
            <button type="submit">Créer</button>
        </form>
    </body>
</html>
